<div class="root">
  <div class="survey_wrapper">
    <h1>Take Our Survey!</h1>
    <a href="https://forms.gle/KKuArmQJisQFfrd38" target="_blank">
      <button mat-raised-button color="primary" (click)="playSound()">Ok</button>
    </a>
  </div>

  <div class="github_wrapper">
    <h1>Join Our GitHub Group!</h1>
    <a href="" target="_blank">
      <button mat-icon-button class="github_icon_wrapper">
        <img src="assets/GitHub-Mark-Light-64px.png">
      </button>
    </a>
  </div>
</div>

