.flex-container{
  height: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
}

.square {
 height: 10rem;
  width: 10rem;
  background-color: green;
}

.blue {
  background-color: blue;
}

.black {
  background-color: black;
}


