.flex-container{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.square {
 height: 10rem;
  width: 10rem;
  background-color: yellow;
  border-radius: 15px;
}

.blue {
  background-color: blue;
  border-style: double;
  border-color: cornflowerblue;
  border-width: 10px;
}

.red {
  background-color: red;
  border-style: double;
  border-color: pink;
  border-width: 10px;
}

.green {
  background-color: limegreen;
  border-style: double;
  border-color: lime;
  border-width: 10px;
}

h1 {
  color: mediumturquoise;
  font-weight: bolder;
  align-content: center;
}

