.flex-container{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.square {
 height: 10rem;
  width: 10rem;
  background-color: green;
  border-radius: 15px;

}

.blue {
  background-color: blue;
  border-style: double;
  border-color: cornflowerblue;
  border-width: 10px;
}

.black {
  background-color: black;
  border-style: none;
}

h1 {
  color: mediumturquoise;
  font-weight: bolder;
  align-content: center;
}

